:host {
  .question {
    text-align: center;
  }
  p {
    margin: 10px 10px;
  }

  .answers {
    margin-top: 40px;
  }

  .answer {
    &.underline {
      text-decoration: underline;
    }
    &:hover {
      color: #bbbdc1;
      cursor: pointer;
    }

    &:active {
      color: #808184;
    }
  }
  li {
    margin: 10px;
  }
}
