/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'MysteryFont';
  src: url("assets/mysteryFont2.ttf");
}

body {
  height: 100vh;
  display: flex;
  overflow: hidden;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'MysteryFont', serif;
  color: aliceblue;
}

button {
  border-radius: 20px;
  border: 1px solid rgba(240, 248, 255, .51);
  box-sizing: border-box;
  padding: 4px 8px;
  font-family: inherit;
  background-color: rgba(0, 0, 0, .1);
  color: rgba(240, 248, 255, .91);
  font-size: 16px;
  text-align: center;

  &:disabled {
    cursor: not-allowed;
  }

  &:enabled {
    cursor: pointer;
  }

  &:active {
    background-color: rgba(0, 0, 0, .3);
  }

}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(240, 248, 255, 0.95);
  border-radius: 10px;
}
